:root {
    --txt1: #e97aff;
    --txt2: #fff;
    --grad: #922aa7 0%, #ce72e0 100%;
    --bkgr: #3a4553
}



/* --txt1 items */
.txt1 {
    color: var(--txt1);
}

/* --txt2 items */
.txt2{
    color: var(--txt2);
}

body {
    background-color: var(--bkgr);
    font-family: sans-serif;
}

header, footer {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    margin: 20px 0;
}

.card {
    border: 1px dashed white;
    margin: 20px 10px;
    flex-basis: 26%;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
}


.card:hover {
    box-shadow: 0 0 20px 3px #ce72e0ff;
}

.cardhead {
    position: relative;
    margin: -20px 10px 1px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--bkgr);
    padding: 0 10px;
}

.card > p {
    font-size: 12px;
    margin: 10px;
}

.top-note{
   font-size: 12px; 
}

.snippet {
    display: flex;
    font-family: monospace;
    background-image: linear-gradient(var(--grad));
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    height: 100%;
    align-items: center;
    user-select: all;
}

@media only screen and (max-width: 991px) { 
   .card {
        flex-basis: 34%;
   }
}

@media only screen and (max-width: 768px) { 
    .card {
         flex-basis: 100%;
    }
 }